# instance configuration for ovd-configssl.sh
# syntax: posix shell, sourced by script
#
REF_TRUST_KEYSTORE=/opt/wls_domains/local/pki/BATrustKeyStore.jks
REF_IDENT_KEYSTORE=/opt/wls_domains/local/pki/BAIdentityKeyStore.jks

OVD_INSTANCE_NAME=ovd1
OVD_CONFIG_DIR=${INSTANCE_HOME}/config/OVD/${OVD_INSTANCE_NAME}
WLS_USER=weblogic

# name of new keystores within ovd
dtm="$(date '+%Y%m%d-%H%M%S')"
OVD_TRUST_NEW="trust-$dtm.jks"
OVD_IDENT_NEW="ident-$dtm.jks"
