# instance specific
#
export          PERM=PERM02
export   DOMAIN_NAME=NBV01XG4_PERM02_OVD
export INSTANCE_NAME=NBV01XG4_PERM02_OVD1
export    ADMIN_HOST=l5618022
export    ADMIN_PORT=55302

# general
#
export        LC_ALL=en_US.UTF-8
export     JAVA_HOME=/opt/soa/jvm/rt_${PERM}
export       MW_HOME=/opt/soa/ofm/${PERM}/ovd/11.1.1.9-64
export       WL_HOME=${MW_HOME}/wlserver_10.3
export   ORACLE_HOME=${MW_HOME}/oracle_idm
export ORACLE_COMMON=${MW_HOME}/oracle_common
export INSTANCE_HOME=/opt/wls_domains/local/domains/${PERM}/${DOMAIN_NAME}/instances/${INSTANCE_NAME}
# export   DOMAIN_HOME=
export LOGDIR=/var/log/wls_domains/${PERM}/${DOMAIN_NAME}

export PATH=${JAVA_HOME}/bin:${INSTANCE_HOME}/bin:${PATH}

export PS1='[\[\033[0;31m\]\u\[\033[0m\]@\h:\[\033[0m\] \W]\$ '

# export DIR=/var/log/wls_domains/horst
