# instance specific
#
export          PERM=PERM02
export   DOMAIN_NAME=domain_name
export INSTANCE_NAME=instance_name
export    ADMIN_HOST=hostname
export    ADMIN_PORT=7001

# general
#
export        LC_ALL=en_US.UTF-8
export     JAVA_HOME=
export       MW_HOME=
export       WL_HOME=${MW_HOME}/wlserver_10.3
export   ORACLE_HOME=${MW_HOME}/oracle_idm
export ORACLE_COMMON=${MW_HOME}/oracle_common
export INSTANCE_HOME=
export   DOMAIN_HOME=
export        LOGDIR=

export PATH=${JAVA_HOME}/bin:${INSTANCE_HOME}/bin:${PATH}

export PS1='[\[\033[0;31m\]\u\[\033[0m\]@\h:\[\033[0m\] \W]\$ '
